.my_image {
    border-style: groove;
    border-color: burlywood;
    border-radius: 50%;
    border-width: 6px;
    margin: 25px 61px 3px 378px;
    font-style: bold;
    font-size: large;
}

.my_username {
    margin: 94px 0px 38px 360px;

text-shadow: 20px blue;


}
#websites{
margin: 22px 61px 3px 471px;
background-color: black;
color: aliceblue;


}
